@import '../../style/colors';

.btn-component {
  button {
    transition: all 300ms ease;
    outline: none;
    border: none;
    color: $white;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;

    &.info {
      background-color: $info-btn;

      &:hover {
        background-color: $info-btn-hover;
      }
    }

    &.warning {
      background-color: $warning-btn;

      &:hover {
        background-color: $warning-btn-hover;
      }
    }

    &.danger {
      background-color: $danger-btn;

      &:hover {
        background-color: $danger-btn-hover;
      }
    }
  }
}