$black-bg:          #4B4453 !default;
$purple-bg:         #845EC2 !default;
$red-bg:            #D65DB1 !default;
$grey-bg:           #DADDE2 !default;

$danger-btn:        #CF2525 !default;
$danger-btn-hover:  #FB5866 !default;
$info-btn:          #2C73D2 !default;
$info-btn-hover:    #0081CF !default;
$warning-btn:       #FF9671 !default;
$warning-btn-hover: #EC8639 !default;


$grey-border:       #B0A8B9 !default;

$white:             #ffffff !default;
$black:             #222222 !default;